/* styles/globals.css */

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: inherit;
}

::selection {
  background-color: #c7d2fe;
  color: #1e40af;
}
