@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 dark:bg-[#0b0f19] dark:text-gray-100;
  transition: background-color 0.3s ease, color 0.3s ease;
}
